@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  /* Global Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  /* Ensure body uses full width and height */
  body {
    color: #fff;
    background: #0d0e1a;
  }
  .custom-gradient-border {
    position: relative;
    padding: 2px;
    background: linear-gradient(to bottom, #fff, #7b7b7b);
    border-radius: 12px;
  }

  .custom-gradient-border > .content {
    background: linear-gradient(45deg, #613db9, #d86829);
    border-radius: 10px;
    background-clip: padding-box;
    position: relative;
    z-index: 1;
  }

  .custom-gradient-border > .content-sector {
    background: #15172c;
    border-radius: 10px;
    background-clip: padding-box;
    position: relative;
    z-index: 1;
  }
}
